// Viewports
$desktop-width: 744px;

// font-size
$fontSize-big:           20px;
$fontSize-medium:        18px;
$fontSize-medium_small:  16px;
$fontSize-small_big:     14px;
$fontSize-small:         12px;

// text-color
$textСolor-main:      #666666;
$textСolor-grey:      #999999;
$textСolor-secondary: #333333;
$textСolor-white:     #ffffff;
$textСolor-green:     #62B435;
$textСolor-red:       #F64747;

// font-family
$fontFamily-proxima:   "ProximaNova", "Arial", sans-serif;
$fontFamily-futura: "FuturaPT", "Arial", sans-serif;
$fontFamily-wix:    "Wix", "Arial", sans-serif;

